<main class="l-mainContent l-mainContent--home">
  <picture>
    <source srcset="assets/img/home-bg-03.jpg" media="(min-width:1200px)">
    <source srcset="assets/img/home-bg-02.jpg" media="(min-width:768px)">
    <source srcset="assets/img/home-bg-01.jpg" media="(min-width:0px)">
    <img src="assets/img/home-bg-01.jpg" alt="Mario Brusarosco" title="Mario Brusarosco" />
  </picture>
  <div class="home">
      <h1 style="display:none;">mario brusarosco</h1>
      <p class="home-title home-title--front">front end</p>
      <p class="home-title home-title--dev">developer</p>
  </div>
</main>