.l-footer {
  height: 87px;
  background: #fff;

  color: $pink;
  font-size: 19px;
  @include breakpoint(min,568px) {
    height: 57px;
  }
  @include breakpoint(min,1024px) {
    font-size: 21px;
  }

  .wrapper {
    position: relative;
    height: 100%;
    width: 210px;
    margin: 0 auto;
    font-size: 19px;

    &:before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 1px;
      height: 37px;
      background: $pink;
      top: 50%;
      left: calc(50% - .5px);
      @include breakpoint(min,568px) {
        display: none;
      }
    }

    @include breakpoint(min,568px) {
      width: auto;
      padding: 0 5%;
    }
    @include breakpoint(min,768px) {

    }
  }
}
