//CLEARFIX
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

<<<<<<< b3fd7c5642d06d77c4daff7e7cbced6bb0972c14
//BUTTON
@mixin btn($radius : 0) {
  outline: none;
  border: 0;
  background: transparent;
  cursor: pointer;
  border-radius: $radius;
  vertical-align: top;
}

//TRANSFORM
@mixin transform($type) {
  -webkit-transform: $type;
  -ms-transform: $type;
  transform: $type;
}

//OPACITY
//VALUES FOR $opacity: ALWAYS USE 0-100
// e.g   @include opacity(40)  -- THIS IS THE SAME AS : opacity(.4) OR opacity(0.4) OR opacity(0.40)
@mixin opacity($opacity) {
  filter : alpha(#{$opacity});  // IE OLD VERSIONS
  opacity: $opacity * 0.01;
}

//BREAKPOINTS

// MOBILE FIRST APPROACH
@mixin breakpoint($min-width){
  @media ONLY SCREEN AND (min-width:$min-width) {
    @content;
  }
}
