//PALETTE 1
$pink       : #E45F56;
$green      : #A3D39C;
$lightBlue  : #7ACCC8;
$blue       : #4AAAA5;
$darkBlue   : #35404F;

// LINKS
  // NORMAL STATE
  //
  // HOVER, ACTIVE STATE
  // $linkHoverFooter : #xxxxxx;

  // LINKS INSIDE A HEADER
  // $linkHoverHeader :

  // LINKS INSIDE A FOOTER
  $linkHoverFooter :#909090;
