@import "compass/css3",
        "generics",
        "normalize",
        "fonts/font-test",
        "helpers/mixins",
        "helpers/placeholders";

@import "blocks/header/header";

p {
  font-size: 30px;
  font-family: "Gentleman";
  text-transform: uppercase;
  color: red;
  @include single-box-shadow;
}

d
