@import "compass/css3",
        "generics",
        "normalize",
        "fonts/font-test-older-ie",
        "fonts/font-test",
        "fonts/fonts",
        "helpers/mixins",
        "helpers/placeholders";

@import "blocks/header/header";



p {
  font-size: 10px;
  font-family: "Gentleman";
  text-transform: uppercase;
  color: red;
  @include single-box-shadow;
}



h1 {
  font-family: "Caviar";
}

// //font - tests
// .em-tes {
//   font-family: "CaviarItalic";
// }
// //
// .strong-tes {
//   font-family:"CaviarBold";
// }
//
// strong em,
// em strong {
//   font-family: "CaviarBoldItalic"
// }
