/* line 1, ../../../src/public/styles/base/_generics.scss */
* {
  box-sizing: border-box;
  font-family: "Dosis", sans-serif; }

/* line 6, ../../../src/public/styles/base/_generics.scss */
a {
  cursor: pointer;
  display: block;
  color: inherit;
  text-decoration: none; }

/* line 13, ../../../src/public/styles/base/_generics.scss */
button {
  border: none;
  outline: none; }

@media screen and (min-width: 1024px) {
  /* line 18, ../../../src/public/styles/base/_generics.scss */
  .mobileElem {
    display: none !important; } }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../../../src/public/styles/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 27, ../../../src/public/styles/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, ../../../src/public/styles/base/_reset.scss */
body {
  line-height: 1; }

/* line 34, ../../../src/public/styles/base/_reset.scss */
ol, ul {
  list-style: none; }

/* line 37, ../../../src/public/styles/base/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 40, ../../../src/public/styles/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 45, ../../../src/public/styles/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@keyframes home__titlebar {
  0% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }
@keyframes home__title--front {
  0% {
    opacity: 0;
    transform: translateX(calc(-352.1px - 5vw)); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes home__title--dev {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@font-face {
  font-family: "Dosis";
  src: url("../fonts/dosis-regular.woff2") format("woff2"), url("../fonts/dosis-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/dosis-regular.woff") format("woff");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Dosis";
  src: url("../fonts/dosis-extralight.woff2") format("woff2"), url("../fonts/dosis-extralight.eot?#iefix") format("embedded-opentype"), url("../fonts/dosis-extralight.woff") format("woff");
  font-style: normal;
  font-weight: 100; }
@font-face {
  font-family: "Dosis";
  src: url("../fonts/dosis-light.woff2") format("woff2"), url("../fonts/dosis-light.eot?#iefix") format("embedded-opentype"), url("../fonts/dosis-light.woff") format("woff");
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: "Dosis";
  src: url("../fonts/dosis-regular.woff2") format("woff2"), url("../fonts/dosis-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/dosis-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "Dosis";
  src: url("../fonts/dosis-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/dosis-semibold.woff2") format("woff2"), url("../fonts/dosis-semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600; }
@font-face {
  font-family: "Dosis";
  src: url("../fonts/dosis-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/dosis-bold.woff2") format("woff2"), url("../fonts/dosis-bold.woff") format("woff");
  font-style: normal;
  font-weight: bold; }
@font-face {
  font-family: "Dosis";
  src: url("../fonts/dosis-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/dosis-extrabold.woff2") format("woff2"), url("../fonts/dosis-extrabold.woff") format("woff");
  font-style: normal;
  font-weight: 900; }
/* line 8, ../../../src/public/styles/layout/_content.scss */
.l-mainContent {
  position: relative;
  padding: 80px 4.5vw 10px; }
  /* line 14, ../../../src/public/styles/layout/_content.scss */
  .l-mainContent--home {
    height: 300px;
    height: calc(100vh);
    padding: 80px 0 0;
    overflow: hidden;
    z-index: 1;
    /* background-size: 100% auto; */ }
    /* line 28, ../../../src/public/styles/layout/_content.scss */
    .l-mainContent--home img {
      position: absolute;
      top: 0;
      left: 0; }
    /* line 47, ../../../src/public/styles/layout/_content.scss */
    .l-mainContent--home:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.43);
      z-index: 1; }
  /* line 64, ../../../src/public/styles/layout/_content.scss */
  .l-mainContent--resume {
    padding: 80px 4.5vw 0; }
    @media screen and (max-width: 566px) {
      /* line 64, ../../../src/public/styles/layout/_content.scss */
      .l-mainContent--resume {
        max-width: 500px;
        margin: 80px auto 0; } }

/* line 1, ../../../src/public/styles/layout/_footer.scss */
.l-footer {
  background: #fff;
  color: #E45F56;
  font-size: 19px; }
  @media screen and (min-width: 568px) {
    /* line 1, ../../../src/public/styles/layout/_footer.scss */
    .l-footer {
      height: 125px; } }
  @media screen and (min-width: 1024px) {
    /* line 1, ../../../src/public/styles/layout/_footer.scss */
    .l-footer {
      font-size: 21px; } }
  /* line 12, ../../../src/public/styles/layout/_footer.scss */
  .l-footer .wrapper {
    position: relative;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    font-size: 19px; }
    @media screen and (min-width: 768px) {
      /* line 12, ../../../src/public/styles/layout/_footer.scss */
      .l-footer .wrapper {
        width: 100%; } }

/* line 1, ../../../src/public/styles/layout/_header.scss */
.l-header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 77px;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid #E45F56;
  color: #35404F;
  transition: top 0.3s ease-in-out; }
  /* line 3, ../../../src/public/styles/base/_mixins.scss */
  .l-header:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 1024px) {
    /* line 1, ../../../src/public/styles/layout/_header.scss */
    .l-header {
      padding: 0 4.8vw; } }
  @media screen and (max-width: 767px) {
    /* line 20, ../../../src/public/styles/layout/_header.scss */
    .l-header:after {
      content: "";
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.55);
      cursor: pointer;
      opacity: 0;
      visibility: hidden;
      z-index: -2;
      transition: opacity 1s ease-in-out, visibility 0s ease-in-out 2s; } }
  /* line 40, ../../../src/public/styles/layout/_header.scss */
  body.down .l-header {
    top: -80px; }
  @media screen and (max-width: 767px) {
    /* line 49, ../../../src/public/styles/layout/_header.scss */
    .menu-is-opened .l-header:after {
      opacity: 1;
      visibility: visible;
      transition: opacity 1s ease-in-out, visibility  0s ease-in-out; } }

/* line 1, ../../../src/public/styles/modules/_btn.scss */
.btn {
  outline: none;
  border: 0;
  background: transparent;
  cursor: pointer;
  border-radius: 0;
  vertical-align: top;
  display: inline-block; }
  /* line 4, ../../../src/public/styles/modules/_btn.scss */
  .btn-menu {
    height: 100%;
    width: 77px;
    float: left;
    border-right: 1px solid #E45F56;
    padding: 10px;
    background: #FFF;
    line-height: 0.75em;
    color: #E45F56;
    font-size: 15px; }
    @media screen and (min-width: 768px) {
      /* line 4, ../../../src/public/styles/modules/_btn.scss */
      .btn-menu {
        float: left; } }
  /* line 19, ../../../src/public/styles/modules/_btn.scss */
  .btn-textWrapper {
    display: block;
    position: relative;
    margin-top: 10px;
    font-size: 14px; }
  /* line 27, ../../../src/public/styles/modules/_btn.scss */
  .btn-textContent {
    display: block; }
    /* line 29, ../../../src/public/styles/modules/_btn.scss */
    .btn-textContent-menuText {
      font-size: 12px;
      margin-top: 10px;
      display: block;
      position: relative; }
    /* line 36, ../../../src/public/styles/modules/_btn.scss */
    .btn-textContent--menu, .btn-textContent--close {
      line-height: 0.75em;
      padding-top: 10px;
      transition: transform .4s ease-in-out, opacity .2s .2s ease-in-out; }
    /* line 44, ../../../src/public/styles/modules/_btn.scss */
    .btn-textContent--close {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-20px); }
      /* line 48, ../../../src/public/styles/modules/_btn.scss */
      .menu-is-opened .btn-textContent--close {
        opacity: 1;
        visibility: visible;
        transform: translateY(-20px); }
    /* line 55, ../../../src/public/styles/modules/_btn.scss */
    .menu-is-opened .btn-textContent--menu {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-30px); }
  /* line 63, ../../../src/public/styles/modules/_btn.scss */
  .btn-back-to-top {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 20px;
    padding: 0;
    right: 5%;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out; }
    /* line 76, ../../../src/public/styles/modules/_btn.scss */
    .btn-back-to-top.is-visible {
      opacity: 1;
      visibility: visible; }

/* line 1, ../../../src/public/styles/modules/_dropdown.scss */
.dropdown {
  display: none;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.65s ease-in-out, opacity 0.65s ease-in-out; }
  @media screen and (min-width: 1024px) {
    /* line 1, ../../../src/public/styles/modules/_dropdown.scss */
    .dropdown {
      display: block; } }
  /* line 16, ../../../src/public/styles/modules/_dropdown.scss */
  .dropdown-header {
    width: 181px;
    background: white;
    top: calc(100% - 1px);
    left: 0;
    line-height: 60px; }
  /* line 27, ../../../src/public/styles/modules/_dropdown.scss */
  .dropdown-item {
    border: 1px solid #E45F56;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; }
    /* line 33, ../../../src/public/styles/modules/_dropdown.scss */
    .dropdown-item:first-child {
      border-top-width: 4px; }
    /* line 38, ../../../src/public/styles/modules/_dropdown.scss */
    .dropdown-item:hover, .dropdown-item:active {
      background-color: #E45F56;
      color: #FFF; }
  /* line 46, ../../../src/public/styles/modules/_dropdown.scss */
  .dropdown-link {
    font-size: 20px;
    font-weight: 500; }

/* line 1, ../../../src/public/styles/modules/_hambLine.scss */
.hambLine {
  display: inline-block;
  width: 50%;
  height: 2px;
  background: #E45F56;
  transition: all 0.6s cubic-bezier(0.45, 0.05, 0.68, 1.14); }
  /* line 9, ../../../src/public/styles/modules/_hambLine.scss */
  .menu-is-opened .hambLine-top {
    transform: rotate(-130deg) translate(-9px, -9px); }
  /* line 13, ../../../src/public/styles/modules/_hambLine.scss */
  .hambLine-center {
    transition: all 1s cubic-bezier(0.9, 0, 0.04, 1.19); }
    /* line 15, ../../../src/public/styles/modules/_hambLine.scss */
    .menu-is-opened .hambLine-center {
      transform: translate(-100vw, 0); }
  /* line 21, ../../../src/public/styles/modules/_hambLine.scss */
  .menu-is-opened .hambLine-bottom {
    transform: rotate(130deg) translate(-6px, 7px); }

/* line 30, ../../../src/public/styles/modules/_icon.scss */
.personalData-contact .icon {
  display: inline-block;
  width: 30px;
  margin-right: 10px;
  text-align: center;
  transition: all .4s ease-in-out; }
  @media screen and (min-width: 568px) {
    /* line 30, ../../../src/public/styles/modules/_icon.scss */
    .personalData-contact .icon {
      width: auto;
      display: block;
      margin-right: 0;
      margin-bottom: 10px; } }
@media screen and (min-width: 1024px) {
  /* line 48, ../../../src/public/styles/modules/_icon.scss */
  .personalData-line a:hover .icon {
    transform: translateY(-5px); } }
/* line 55, ../../../src/public/styles/modules/_icon.scss */
.l-footer .icon {
  width: 20px;
  height: 20px;
  fill: #E45F56;
  vertical-align: middle;
  margin-top: -10px;
  transition: fill ease-in-out .3s; }

/* line 1, ../../../src/public/styles/modules/_link.scss */
.link {
  position: relative; }
  /* line 5, ../../../src/public/styles/modules/_link.scss */
  .link:before, .link:after {
    transition: background ease-in-out .3s; }
  /* line 16, ../../../src/public/styles/modules/_link.scss */
  .link:hover:before, .link:active:before {
    background-color: #909090; }
  /* line 29, ../../../src/public/styles/modules/_link.scss */
  .link-footer {
    height: 40px;
    line-height: 40px;
    display: block;
    letter-spacing: 1px;
    text-align: center;
    transition: color ease-in-out .3s; }
    /* line 38, ../../../src/public/styles/modules/_link.scss */
    .link-footer:hover {
      color: #909090; }
      /* line 41, ../../../src/public/styles/modules/_link.scss */
      .link-footer:hover svg {
        fill: #909090; }
  /* line 3, ../../../src/public/styles/base/_mixins.scss */
  .link-socials:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 568px) {
    /* line 47, ../../../src/public/styles/modules/_link.scss */
    .link-socials {
      width: 50%;
      height: 100%;
      float: right; } }
  @media screen and (min-width: 768px) {
    /* line 47, ../../../src/public/styles/modules/_link.scss */
    .link-socials {
      display: table;
      table-layout: fixed; } }
  /* line 64, ../../../src/public/styles/modules/_link.scss */
  .menu-header .link-menu {
    padding: 0 30px; }
    @media screen and (min-width: 768px) {
      /* line 64, ../../../src/public/styles/modules/_link.scss */
      .menu-header .link-menu {
        padding: 0; } }
    @media screen and (min-width: 1024px) {
      /* line 64, ../../../src/public/styles/modules/_link.scss */
      .menu-header .link-menu {
        height: 100%;
        padding: 10px 15px 0; } }
  @media screen and (min-width: 768px) {
    /* line 76, ../../../src/public/styles/modules/_link.scss */
    .link-socials .link-menu {
      display: table-cell;
      width: calc(100% / 3);
      vertical-align: middle; } }
  @media screen and (min-width: 1024px) {
    /* line 83, ../../../src/public/styles/modules/_link.scss */
    .link-socials .link-menu:before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 1px;
      height: 40px;
      background: #E45F56;
      left: 0;
      transition: transform .4s ease-in-out; } }
  /* line 99, ../../../src/public/styles/modules/_link.scss */
  .link-socials .link-menu:hover:before {
    -webkit-transform: scaleY(1.5);
    -ms-transform: scaleY(1.5);
    transform: scaleY(1.5);
    background: #909090; }
  /* line 107, ../../../src/public/styles/modules/_link.scss */
  .link-email {
    clear: both;
    height: 44px;
    line-height: 44px; }
    @media screen and (min-width: 568px) {
      /* line 107, ../../../src/public/styles/modules/_link.scss */
      .link-email {
        float: left;
        width: 50%;
        height: 100%;
        line-height: 125px; } }
    @media screen and (min-width: 1024px) {
      /* line 107, ../../../src/public/styles/modules/_link.scss */
      .link-email {
        text-align: center; } }
    /* line 122, ../../../src/public/styles/modules/_link.scss */
    .link-email a {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 2px;
      word-wrap: break-word;
      text-overflow: ellipsis; }
      @media screen and (min-width: 1024px) {
        /* line 122, ../../../src/public/styles/modules/_link.scss */
        .link-email a {
          font-size: 22px;
          letter-spacing: 4px; } }

/* line 1, ../../../src/public/styles/modules/_listItem.scss */
.listItem {
  width: 100%; }

/* line 1, ../../../src/public/styles/modules/_logo.scss */
.logo {
  display: inline-block;
  background: #FFF;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px; }
  /* line 8, ../../../src/public/styles/modules/_logo.scss */
  .logo-header {
    width: calc(100% - 77px);
    height: 100%;
    float: right;
    vertical-align: top;
    position: relative;
    text-transform: lowercase;
    line-height: 77px;
    text-align: center; }
    @media screen and (min-width: 768px) {
      /* line 8, ../../../src/public/styles/modules/_logo.scss */
      .logo-header {
        width: 240px;
        float: left;
        margin-left: 0px; }
        /* line 24, ../../../src/public/styles/modules/_logo.scss */
        .logo-header:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 1px;
          height: 60%;
          margin: auto 0;
          background: #E45F56; } }
    @media screen and (min-width: 1024px) {
      /* line 8, ../../../src/public/styles/modules/_logo.scss */
      .logo-header {
        width: 26%;
        font-size: 25px;
        font-weight: 100;
        text-align: left; }
        /* line 44, ../../../src/public/styles/modules/_logo.scss */
        .logo-header:after {
          display: none; } }

/* line 2, ../../../src/public/styles/modules/_breadcrumb.scss */
.breadcrumb {
  margin-top: 20px;
  max-width: 320px; }
  /* line 10, ../../../src/public/styles/modules/_breadcrumb.scss */
  .breadcrumb-home img {
    position: relative;
    top: 3px;
    width: 35px; }
  /* line 3, ../../../src/public/styles/base/_mixins.scss */
  .breadcrumb-list:after {
    content: "";
    display: table;
    clear: both; }
  /* line 20, ../../../src/public/styles/modules/_breadcrumb.scss */
  .breadcrumb-path {
    position: relative;
    display: block;
    margin: 15px 0 0 30px;
    float: left;
    font-size: 20px; }
    /* line 28, ../../../src/public/styles/modules/_breadcrumb.scss */
    .breadcrumb-path:first-of-type {
      margin: 0; }
      /* line 30, ../../../src/public/styles/modules/_breadcrumb.scss */
      .breadcrumb-path:first-of-type:after {
        display: none; }
    /* line 32, ../../../src/public/styles/modules/_breadcrumb.scss */
    .breadcrumb-path:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -22.5px;
      display: inline-block;
      width: 15px;
      height: 1px;
      background-color: #35404F; }

/* line 2, ../../../src/public/styles/modules/_config-panel.scss */
.configPanel {
  position: absolute;
  top: 0;
  right: 0; }

/* line 8, ../../../src/public/styles/modules/_config-panel.scss */
.configPanel-icon {
  width: 32px;
  height: 32px;
  background-color: #E45F56;
  cursor: pointer; }

/* line 2, ../../../src/public/styles/modules/_menu.scss */
.menu {
  width: 100%;
  text-align: center; }
  @media screen and (min-width: 768px) {
    /* line 2, ../../../src/public/styles/modules/_menu.scss */
    .menu {
      height: 100%; } }
  @media screen and (min-width: 1024px) {
    /* line 9, ../../../src/public/styles/modules/_menu.scss */
    .menu-header {
      height: 100%;
      text-align: right; } }
  /* line 19, ../../../src/public/styles/modules/_menu.scss */
  .menu-footer {
    height: 100%; }
    /* line 3, ../../../src/public/styles/base/_mixins.scss */
    .menu-footer:after {
      content: "";
      display: table;
      clear: both; }
  @media screen and (min-width: 667px) {
    /* line 24, ../../../src/public/styles/modules/_menu.scss */
    .menu-list {
      display: table;
      table-layout: fixed;
      width: 100%; } }
  @media screen and (min-width: 768px) {
    /* line 24, ../../../src/public/styles/modules/_menu.scss */
    .menu-list {
      height: 100%; } }
  @media screen and (min-width: 1024px) {
    /* line 24, ../../../src/public/styles/modules/_menu.scss */
    .menu-list {
      display: block;
      table-layout: unset; } }
  /* line 45, ../../../src/public/styles/modules/_menu.scss */
  .menu-listItem {
    width: 100%;
    height: 55px;
    border-left: 4px solid #E45F56;
    line-height: 55px;
    text-align: center;
    font-size: 16px; }
    /* line 53, ../../../src/public/styles/modules/_menu.scss */
    .menu-listItem:not(:last-child) {
      border-bottom: 1px solid #E45F56; }
    @media screen and (min-width: 667px) {
      /* line 45, ../../../src/public/styles/modules/_menu.scss */
      .menu-listItem {
        display: table-cell;
        border-bottom: none !important;
        border-left: none !important; } }
    @media screen and (min-width: 768px) {
      /* line 45, ../../../src/public/styles/modules/_menu.scss */
      .menu-listItem {
        border-bottom: 1px solid #666;
        vertical-align: middle;
        height: 100%; } }
    @media screen and (min-width: 1024px) {
      /* line 45, ../../../src/public/styles/modules/_menu.scss */
      .menu-listItem {
        display: inline-block;
        width: auto;
        margin-left: -3px;
        font-size: 25px;
        font-weight: 100;
        position: relative; }
        /* line 65, ../../../src/public/styles/base/_mixins.scss */
        .menu-listItem:after {
          width: 100%;
          height: 100%;
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          display: inline-block;
          z-index: -1; }
        /* line 79, ../../../src/public/styles/base/_mixins.scss */
        .menu-listItem:nth-child(2n+1):after {
          transition: box-shadow .5s ease-in-out; }
        /* line 85, ../../../src/public/styles/base/_mixins.scss */
        .menu-listItem:nth-child(2n+1):hover:after {
          box-shadow: #E45F56 300px 0px inset; }
        /* line 95, ../../../src/public/styles/base/_mixins.scss */
        .menu-listItem:nth-child(2n+0):after {
          transition: box-shadow .35S ease-in-out; }
        /* line 102, ../../../src/public/styles/base/_mixins.scss */
        .menu-listItem:nth-child(2n+0):hover:after {
          box-shadow: #E45F56 0px -78px inset; }
        /* line 78, ../../../src/public/styles/modules/_menu.scss */
        .menu-listItem:hover > a {
          color: #FFF; } }
    /* line 89, ../../../src/public/styles/modules/_menu.scss */
    .menu-listItem.has-drop:hover .dropdown {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.4s ease-in-out; }

/* line 3, ../../../src/public/styles/modules/_personalData.scss */
.personalData {
  padding-top: 35px; }
  @media screen and (min-width: 568px) {
    /* line 3, ../../../src/public/styles/modules/_personalData.scss */
    .personalData {
      margin-bottom: 45px; }
      /* line 3, ../../../src/public/styles/base/_mixins.scss */
      .personalData:after {
        content: "";
        display: table;
        clear: both; } }
  @media screen and (min-width: 1024px) {
    /* line 3, ../../../src/public/styles/modules/_personalData.scss */
    .personalData {
      margin-bottom: 55px; } }
  /* line 16, ../../../src/public/styles/modules/_personalData.scss */
  .personalData-title, .tabs-title {
    display: inline-block;
    position: relative;
    margin-bottom: 25px;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 20px;
    color: #E45F56; }
    @media screen and (min-width: 1024px) {
      /* line 16, ../../../src/public/styles/modules/_personalData.scss */
      .personalData-title, .tabs-title {
        font-size: 26px; } }
    /* line 30, ../../../src/public/styles/modules/_personalData.scss */
    .personalData-title:after, .tabs-title:after {
      content: "";
      height: 3px;
      width: 80%;
      position: absolute;
      bottom: -10px;
      right: 0px;
      background-color: #E45F56; }
    @media screen and (min-width: 568px) {
      /* line 41, ../../../src/public/styles/modules/_personalData.scss */
      .personalData-title--education {
        margin-bottom: 30px !important; } }
    @media screen and (min-width: 768px) {
      /* line 41, ../../../src/public/styles/modules/_personalData.scss */
      .personalData-title--education {
        margin-right: 20px;
        font-size: 27px; } }
    @media screen and (min-width: 568px) {
      /* line 53, ../../../src/public/styles/modules/_personalData.scss */
      .personalData-title--goal {
        margin-bottom: 30px; } }
    @media screen and (min-width: 768px) {
      /* line 53, ../../../src/public/styles/modules/_personalData.scss */
      .personalData-title--goal {
        margin-right: 20px;
        font-size: 27px; } }
  /* line 66, ../../../src/public/styles/modules/_personalData.scss */
  .personalData-subtitle {
    padding-left: 30px;
    font-weight: 400;
    font-size: 22px;
    text-align: left;
    color: #4AAAA5; }
    /* line 77, ../../../src/public/styles/modules/_personalData.scss */
    .personalData-subtitle span {
      position: relative;
      position: relative; }
      /* line 128, ../../../src/public/styles/base/_mixins.scss */
      .personalData-subtitle span:after {
        content: "";
        height: 3px;
        width: 80%;
        position: absolute;
        bottom: -5px;
        left: 0;
        background-color: #7ACCC8; }
    /* line 82, ../../../src/public/styles/modules/_personalData.scss */
    .personalData-subtitle--goal {
      padding-left: 5px; }
      @media screen and (min-width: 568px) {
        /* line 82, ../../../src/public/styles/modules/_personalData.scss */
        .personalData-subtitle--goal {
          padding-left: 0;
          margin-bottom: 30px; } }
    /* line 90, ../../../src/public/styles/modules/_personalData.scss */
    .personalData-subtitle--education {
      padding-left: 5px; }
      @media screen and (min-width: 568px) {
        /* line 90, ../../../src/public/styles/modules/_personalData.scss */
        .personalData-subtitle--education {
          padding-left: 0; } }
  /* line 98, ../../../src/public/styles/modules/_personalData.scss */
  .personalData-group {
    position: relative; }
    /* line 103, ../../../src/public/styles/modules/_personalData.scss */
    .personalData-group--info {
      display: flex;
      justify-content: center;
      padding: 0 10% 20px; }
      /* line 112, ../../../src/public/styles/base/_mixins.scss */
      .personalData-group--info::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 120px;
        height: 1px;
        margin: 0 auto;
        background-color: #E45F56; }
      @media screen and (min-width: 568px) {
        /* line 103, ../../../src/public/styles/modules/_personalData.scss */
        .personalData-group--info {
          padding: 0 0 10px 0; } }
    /* line 114, ../../../src/public/styles/modules/_personalData.scss */
    .personalData-group--education {
      padding: 20px 0 8px; }
      @media screen and (min-width: 568px) {
        /* line 114, ../../../src/public/styles/modules/_personalData.scss */
        .personalData-group--education {
          padding: 0; } }
      @media screen and (min-width: 768px) {
        /* line 114, ../../../src/public/styles/modules/_personalData.scss */
        .personalData-group--education {
          float: left;
          padding-top: 7px; } }
  /* line 128, ../../../src/public/styles/modules/_personalData.scss */
  .personalData-line {
    color: #4AAAA5;
    font-size: 23px; }
    @media screen and (min-width: 768px) {
      /* line 128, ../../../src/public/styles/modules/_personalData.scss */
      .personalData-line {
        font-size: 22px;
        font-weight: 400; } }
    /* line 137, ../../../src/public/styles/modules/_personalData.scss */
    .personalData-line a {
      display: inline-block; }
  /* line 146, ../../../src/public/styles/modules/_personalData.scss */
  .personalData-text {
    transition: color .4s ease-in-out; }
    @media screen and (min-width: 1024px) {
      /* line 149, ../../../src/public/styles/modules/_personalData.scss */
      a:hover .personalData-text {
        color: #E45F56; } }
  /* line 157, ../../../src/public/styles/modules/_personalData.scss */
  .personalData-name {
    text-transform: uppercase;
    text-align: center;
    font-size: 7.5vw;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #E45F56; }
    @media screen and (min-width: 568px) {
      /* line 157, ../../../src/public/styles/modules/_personalData.scss */
      .personalData-name {
        width: 65%;
        float: left;
        text-align: left;
        font-weight: 300;
        font-size: 4vw; } }
    @media screen and (min-width: 768px) {
      /* line 157, ../../../src/public/styles/modules/_personalData.scss */
      .personalData-name {
        font-size: 32px; } }
    /* line 178, ../../../src/public/styles/modules/_personalData.scss */
    .personalData-name strong {
      font-weight: 900; }
  /* line 183, ../../../src/public/styles/modules/_personalData.scss */
  .personalData-info {
    padding-top: 20px; }
    @media screen and (min-width: 568px) {
      /* line 183, ../../../src/public/styles/modules/_personalData.scss */
      .personalData-info {
        width: 35%;
        float: left;
        padding-top: 0; } }
    @media screen and (min-width: 768px) {
      /* line 183, ../../../src/public/styles/modules/_personalData.scss */
      .personalData-info {
        margin-top: 10px; } }
  /* line 198, ../../../src/public/styles/modules/_personalData.scss */
  .personalData-contact {
    position: relative;
    padding: 30px 0; }
    /* line 112, ../../../src/public/styles/base/_mixins.scss */
    .personalData-contact::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 120px;
      height: 1px;
      margin: 0 auto;
      background-color: #E45F56; }
    @media screen and (min-width: 568px) {
      /* line 198, ../../../src/public/styles/modules/_personalData.scss */
      .personalData-contact {
        display: table;
        width: 100%;
        padding: 40px 0 15px;
        text-align: center; }
        /* line 212, ../../../src/public/styles/modules/_personalData.scss */
        .personalData-contact::before {
          width: 90% !important; } }
    @media screen and (min-width: 768px) {
      /* line 198, ../../../src/public/styles/modules/_personalData.scss */
      .personalData-contact {
        padding: 45px 0 20px; } }
    /* line 222, ../../../src/public/styles/modules/_personalData.scss */
    .personalData-contact > .personalData-line {
      margin: 15px auto; }
      @media screen and (min-width: 568px) {
        /* line 222, ../../../src/public/styles/modules/_personalData.scss */
        .personalData-contact > .personalData-line {
          display: table-cell; } }
    /* line 230, ../../../src/public/styles/modules/_personalData.scss */
    .personalData-contact .personalData-text {
      display: inline-block; }
      @media screen and (min-width: 568px) {
        /* line 230, ../../../src/public/styles/modules/_personalData.scss */
        .personalData-contact .personalData-text {
          vertical-align: text-bottom; } }
      @media screen and (min-width: 768px) {
        /* line 230, ../../../src/public/styles/modules/_personalData.scss */
        .personalData-contact .personalData-text {
          font-size: 24px;
          font-weight: 500; } }
    /* line 243, ../../../src/public/styles/modules/_personalData.scss */
    .personalData-contact .icon-svg {
      fill: #E45F56;
      width: 30px;
      height: 30px; }
      @media screen and (min-width: 568px) {
        /* line 243, ../../../src/public/styles/modules/_personalData.scss */
        .personalData-contact .icon-svg {
          width: 25px;
          height: 25px;
          display: inline-block;
          vertical-align: bottom; } }
      /* line 255, ../../../src/public/styles/modules/_personalData.scss */
      .personalData-contact .icon-svg--email {
        position: relative;
        top: 2px; }
  /* line 262, ../../../src/public/styles/modules/_personalData.scss */
  .personalData-email, .personalData-git {
    font-size: 22px; }
    @media screen and (min-width: 568px) {
      /* line 262, ../../../src/public/styles/modules/_personalData.scss */
      .personalData-email, .personalData-git {
        font-size: 22px; } }
  /* line 271, ../../../src/public/styles/modules/_personalData.scss */
  .personalData-tel {
    font-size: 19px; }
    @media screen and (min-width: 568px) {
      /* line 271, ../../../src/public/styles/modules/_personalData.scss */
      .personalData-tel {
        font-size: 18px; } }
    @media screen and (min-width: 768px) {
      /* line 278, ../../../src/public/styles/modules/_personalData.scss */
      .personalData-tel .personalData-text {
        font-size: 20px; } }
  /* line 285, ../../../src/public/styles/modules/_personalData.scss */
  .personalData-age {
    padding-right: 16.5px; }
  /* line 289, ../../../src/public/styles/modules/_personalData.scss */
  .personalData-birthPlace {
    padding-left: 16.5px; }
  /* line 293, ../../../src/public/styles/modules/_personalData.scss */
  .personalData-goal {
    padding: 30px 0 45px; }
    @media screen and (min-width: 568px) {
      /* line 293, ../../../src/public/styles/modules/_personalData.scss */
      .personalData-goal {
        width: 38%;
        float: left;
        padding: 45px 0 0 0; } }
    @media screen and (min-width: 768px) {
      /* line 293, ../../../src/public/styles/modules/_personalData.scss */
      .personalData-goal {
        padding: 40px 0 0; }
        /* line 3, ../../../src/public/styles/base/_mixins.scss */
        .personalData-goal:after {
          content: "";
          display: table;
          clear: both; } }
    @media screen and (min-width: 1024px) {
      /* line 293, ../../../src/public/styles/modules/_personalData.scss */
      .personalData-goal {
        padding: 55px 0 0; } }
    @media screen and (min-width: 768px) {
      /* line 311, ../../../src/public/styles/modules/_personalData.scss */
      .personalData-goal .personalData-subtitle {
        display: inline-block;
        position: relative;
        top: 3px; } }
  /* line 320, ../../../src/public/styles/modules/_personalData.scss */
  .personalData-education {
    padding-bottom: 40px; }
    @media screen and (min-width: 568px) {
      /* line 320, ../../../src/public/styles/modules/_personalData.scss */
      .personalData-education {
        width: 62%;
        float: left;
        padding: 35px 0 0 7vw;
        text-align: center; } }
    @media screen and (min-width: 768px) {
      /* line 320, ../../../src/public/styles/modules/_personalData.scss */
      .personalData-education {
        padding: 40px 0 0;
        text-align: left; }
        /* line 3, ../../../src/public/styles/base/_mixins.scss */
        .personalData-education:after {
          content: "";
          display: table;
          clear: both; } }
    @media screen and (min-width: 1024px) {
      /* line 320, ../../../src/public/styles/modules/_personalData.scss */
      .personalData-education {
        padding: 55px 0 0; } }
    /* line 342, ../../../src/public/styles/modules/_personalData.scss */
    .personalData-education .personalData-title, .personalData-education .tabs-title {
      margin-bottom: 10px; }
      @media screen and (min-width: 768px) {
        /* line 342, ../../../src/public/styles/modules/_personalData.scss */
        .personalData-education .personalData-title, .personalData-education .tabs-title {
          display: block;
          float: left; } }
    /* line 354, ../../../src/public/styles/modules/_personalData.scss */
    .personalData-education .personalData-subtitle:first-child {
      margin-bottom: 30px; }

/* line 1, ../../../src/public/styles/modules/_nav.scss */
.nav {
  position: absolute;
  width: 200px;
  z-index: -1;
  background-color: #FFF;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, -200px);
  transition: transform 0.7s cubic-bezier(1, -0.26, 0.08, 1.3), opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
  text-transform: lowercase;
  opacity: .6; }
  @media screen and (min-width: 667px) {
    /* line 1, ../../../src/public/styles/modules/_nav.scss */
    .nav {
      width: 100%;
      border-bottom: 1px solid #E45F56; } }
  @media screen and (min-width: 768px) {
    /* line 1, ../../../src/public/styles/modules/_nav.scss */
    .nav {
      position: relative;
      width: calc(100% - 77px - 240px);
      height: 100%;
      float: right;
      opacity: 1;
      border-bottom: 0;
      transition: transform 0.5s cubic-bezier(0.88, -0.05, 0.01, 1.02), opacity 0.6s ease-in-out, visibility 0.6s ease-in-out; } }
  @media screen and (min-width: 1024px) {
    /* line 1, ../../../src/public/styles/modules/_nav.scss */
    .nav {
      float: right;
      z-index: 1;
      display: inline-block;
      width: 74%;
      visibility: visible;
      transform: translate(0, 0); } }
  /* line 47, ../../../src/public/styles/modules/_nav.scss */
  body.menu-is-opened .nav {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 80px);
    opacity: 1; }
    @media screen and (min-width: 768px) {
      /* line 47, ../../../src/public/styles/modules/_nav.scss */
      body.menu-is-opened .nav {
        transform: translate(0px, 0px); } }

/* line 1, ../../../src/public/styles/modules/_progBar.scss */
.progBar {
  width: 100%;
  height: 4px;
  clear: both;
  position: relative;
  z-index: -1;
  background: #E45F56; }
  @media screen and (min-width: 1024px) {
    /* line 1, ../../../src/public/styles/modules/_progBar.scss */
    .progBar {
      width: 100vw;
      margin-left: -4.8vw; } }

/* line 1, ../../../src/public/styles/modules/_home.scss */
.home {
  position: absolute;
  top: 110px;
  left: 10vw;
  z-index: 2;
  /* min-width: 200px; */
  /* width: 70vw; */ }
  @media screen and (min-width: 768px) {
    /* line 1, ../../../src/public/styles/modules/_home.scss */
    .home {
      top: 210px; } }
  /* line 24, ../../../src/public/styles/modules/_home.scss */
  .home-title {
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: 100; }
    @media screen and (min-width: 768px) {
      /* line 24, ../../../src/public/styles/modules/_home.scss */
      .home-title {
        font-size: 90px; } }
    /* line 34, ../../../src/public/styles/modules/_home.scss */
    .home-title--front {
      position: relative;
      padding-bottom: 30px;
      color: #FFF; }
      @media screen and (min-width: 768px) {
        /* line 34, ../../../src/public/styles/modules/_home.scss */
        .home-title--front {
          transform: translateX(calc(-352.1px - 5vw));
          opacity: 0;
          animation: home__title--front 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards; } }
      /* line 46, ../../../src/public/styles/modules/_home.scss */
      .home-title--front:after {
        content: "";
        display: inherit;
        position: relative;
        top: 30px;
        background-color: #FFF;
        height: 2px; }
      @media screen and (min-width: 768px) {
        /* line 57, ../../../src/public/styles/modules/_home.scss */
        .home-title--front:after {
          transform: scaleX(0);
          animation: home__titlebar 1s cubic-bezier(0.55, -0.06, 0.34, 1.35) 0.5s forwards; } }
    /* line 64, ../../../src/public/styles/modules/_home.scss */
    .home-title--dev {
      padding-top: 15px;
      color: #E45F56; }
      @media screen and (min-width: 768px) {
        /* line 64, ../../../src/public/styles/modules/_home.scss */
        .home-title--dev {
          opacity: 0;
          transform: translateY(100px);
          animation: home__title--dev 1s cubic-bezier(0.55, -0.06, 0.34, 1.35) forwards; } }

/* line 2, ../../../src/public/styles/modules/_tabs.scss */
.tabs {
  padding-bottom: 40px; }
  /* line 5, ../../../src/public/styles/modules/_tabs.scss */
  .tabs-nav {
    width: 100vw;
    display: table;
    table-layout: fixed;
    margin-left: -4.5vw;
    box-shadow: 0px 4px 1px 0px rgba(2, 2, 2, 0.22);
    text-align: center; }
    @media screen and (min-width: 500px) {
      /* line 5, ../../../src/public/styles/modules/_tabs.scss */
      .tabs-nav {
        margin-left: calc( -4.5vw - ( (100vw - 500px) / 2) ); } }
    @media screen and (min-width: 568px) {
      /* line 5, ../../../src/public/styles/modules/_tabs.scss */
      .tabs-nav {
        width: auto;
        margin: 0;
        width: 60%;
        box-shadow: none; } }
  /* line 28, ../../../src/public/styles/modules/_tabs.scss */
  .tabs-tab {
    display: table-cell;
    padding: 25px 0;
    background-color: #E45F56;
    font-size: 17px;
    font-weight: 700;
    color: #35404F;
    cursor: pointer;
    transition: all .3s ease-in-out; }
    /* line 41, ../../../src/public/styles/modules/_tabs.scss */
    .tabs-tab:not(:first-child) {
      border-left: 1px solid #35404F; }
    /* line 51, ../../../src/public/styles/modules/_tabs.scss */
    .tabs-tab[data-state='is-active'] {
      background-color: #35404F;
      color: #E45F56; }
  @media screen and (min-width: 568px) {
    /* line 59, ../../../src/public/styles/modules/_tabs.scss */
    .tabs-title {
      float: left;
      padding: 0 3%; } }
  @media screen and (min-width: 568px) {
    /* line 76, ../../../src/public/styles/modules/_tabs.scss */
    .tabs-mainContent {
      padding: 0 15px;
      border: 1px solid #7ACCC8; } }
  @media screen and (min-width: 768px) {
    /* line 76, ../../../src/public/styles/modules/_tabs.scss */
    .tabs-mainContent {
      position: relative;
      padding: 0; } }
  @media screen and (min-width: 768px) {
    /* line 88, ../../../src/public/styles/modules/_tabs.scss */
    .tabs-mainContent:after {
      content: "";
      display: inline-block;
      width: 1px;
      height: calc(100% - 140px);
      position: absolute;
      top: 70px;
      bottom: 0;
      left: calc(50% - 5px);
      background: #4AAAA5; } }
  /* line 104, ../../../src/public/styles/modules/_tabs.scss */
  .tabs-content {
    display: none; }
    @media screen and (min-width: 568px) {
      /* line 3, ../../../src/public/styles/base/_mixins.scss */
      .tabs-content:after {
        content: "";
        display: table;
        clear: both; } }
    /* line 111, ../../../src/public/styles/modules/_tabs.scss */
    .tabs-content[data-state='is-active'] {
      display: block; }
  /* line 118, ../../../src/public/styles/modules/_tabs.scss */
  .tabs-contentHeading {
    margin-bottom: 15px;
    line-height: 35px;
    font-weight: 400;
    font-size: 22px;
    text-align: left;
    color: #35404F; }
    @media screen and (min-width: 568px) {
      /* line 118, ../../../src/public/styles/modules/_tabs.scss */
      .tabs-contentHeading {
        float: left;
        width: 49.9%;
        margin-bottom: 30px !important;
        padding: 0 3%; } }
    @media screen and (min-width: 568px) {
      /* line 136, ../../../src/public/styles/modules/_tabs.scss */
      .tabs-contentHeading:first-of-type {
        clear: left; } }
    /* line 142, ../../../src/public/styles/modules/_tabs.scss */
    .tabs-contentHeading:nth-child(2n+2) {
      clear: both; }
    /* line 149, ../../../src/public/styles/modules/_tabs.scss */
    .tabs-contentHeading strong {
      position: relative;
      font-weight: 400;
      color: #4AAAA5; }
      /* line 128, ../../../src/public/styles/base/_mixins.scss */
      .tabs-contentHeading strong:after {
        content: "";
        height: 3px;
        width: 80%;
        position: absolute;
        bottom: -5px;
        left: 0;
        background-color: #7ACCC8; }
  /* line 156, ../../../src/public/styles/modules/_tabs.scss */
  .tabs-mainContent {
    padding-top: 30px; }

/*# sourceMappingURL=styles.scss.map */
