@import "compass/css3";
  // "sprites";
  // "import";

//BASE
@import 'base/_mixins',
        'base/_generics',
        'base/_mobile',
        'base/_palettes',
        'base/_placeholders',
        'base/_reset',
        'base/_sprites',
        'base/_variables',
        'base/_animations',
        'base/_tools',
        'base/fonts/_fonts';
//LAYOUT
@import 'layout/_content',
        'layout/_footer',
        'layout/_header';
//MODULES
@import 'modules/_btn',
        'modules/_dropdown',
        'modules/_footerLink',
        'modules/_footerMenu',
        'modules/_hambLine',
        'modules/_icon',
        'modules/_link',
        'modules/_listItem',
        'modules/_logo',
        'modules/_breadcrumb',
        'modules/_config-panel',
        'modules/_menu',
        'modules/_menuLink',
        'modules/_menuList',
        'modules/_personalData',
        'modules/_nav',
        'modules/_progBar',
        'modules/_home',
        'modules/_tabs';
