.l-wrapper {

  &-main {

  }

  & {
    height: 100%;
    max-width: 235px;
    margin: 0 auto;

    @media screen AND (min-width: 568px) {
      height: 125px;
    }
    @media screen AND (min-width: 768px) {
      padding: 0 130px;
    }
  }
}
