@keyframes home__titlebar{
    0%  { 
        transform: scaleX(0);
    }

    100%  {
        transform: scaleX(1);

    }
}

@keyframes home__title--front{
    0% {
        opacity: 0;
        transform: translateX( calc(-352.1px - 5vw) );
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes home__title--dev {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}