.btn {
  @include btn;
  display: inline-block;
  &-menu {
    height: 100%;
    width: 76px;
    border-right: 1px solid $pink;
    padding-top: 10px;
    background: #FFF;

    line-height: 0.75em;
    color: $pink;

    @include breakpoint(min,768px) {
      float: left;
    }
  }
  &-textWrapper {
    display: block;
    position: relative;
    margin-top: 10px;

    font-size: 14px;
  }
  // THE TEXT - GENERALLY A FEW CHARACTERS
  &-textContent {
    display: block;
    &.is-opened,
    &.is-closed {
      transition:
      transform .4s ease-in-out,
      opacity .2s .2s ease-in-out;
    }
    &.is-opened {
      opacity: 0;
      visibility: hidden;
      transform: translateY(20px);
      .menu-is-opened & {
        opacity: 1;
        visibility: visible;
        transform: translateY(-10px);
      }
    }
    &.is-closed {
      transform: translateY(0px);

      .menu-is-opened & {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-30px);
      }
    }
  }
}
