.dropdown {
  height: 0;
  display: none;
  
  visibility: hidden;
  opacity: 0;
  transition: customTrans(visibility, $time: .65s),
              customTrans(opacity, $time: .65s);

  // MODULE PSEUDO CLASSES , STATES, VARIATIONS
  &-header {
    background: rgb(255, 255, 255);
    top: calc(100% - 1px);
    left: 0;

    line-height: 60px;
    // width: 181px;


    @include breakpoint(min,1024px) {
      position: absolute;
    }
  }
  // MODULE CHILD ELEMENTS
  &-arrow {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background: url(../img/mobile-dropdown-arrow.svg) no-repeat center 15px;
    background-size: 20px auto;

    transform: rotate(180deg);
    cursor: pointer;

    @include breakpoint(min,768px) {
      background-position: center 25px;
    }
    
    // HIDE THIS ELEMENT ON DESKTOP
    @include breakpoint(min,1024px) {display: none;}

    .menu-listItem.is-active & {
      transform: rotate(0deg);
    }
  }

  // .dropdown-item
  &-item {
    background-color: $darkBlue;
    color: $pink;
    font-size: 14px;

    @include breakpoint(min,1024px) {
      border: 1px solid $pink;
      transition: customTrans(background-color),
                customTrans(color);
    }
    // .dropdown-item:first-child
    &:first-child {
      // border-top-width: 4px;
    }
    // .dropdown-item:hover
    // .dropdown-item:active
    &:hover,
    &:active {
      background-color: $pink;

      color: #FFF;
    }
  }
  // .dropdown-link
  &-link {
    font-weight: 500;
  }
}
