.home {
    position: absolute;
    top: 10vh;
    left: 10vw;
    z-index: 2;

    @include breakpoint(min,568px) {
        // width: 200px;
        // height: 150px;
        // top: 10vh;
        // left: 0;
        // bottom: 0;
        // right: 0;
        // margin: 0 auto;
        /* min-width: 200px; */
        /* width: 70vw; */
    }
    //MODULE'S SUBCOMPONENTS
    &-title {
        font-size: 50px;
        letter-spacing: 3px;
        font-weight: 100;
        //SUBCOMPONENT'S MODIFIERS
        &--front {
            padding-bottom: 30px;
            border-bottom: 2px solid #FFF;

            color: #FFF;
        }

        &--dev{
            padding-top: 15px;

            color: $pink;
        }
    }


}
