.icon {
  vertical-align: bottom;
  transition: fill ease-in-out .3s;
  // MODULE PSEUDO CLASSES OR STATES
  &:before,
  &:after {
  }

  &:before{ }
  &:after { }


  &:after ,
  &:active {   }

  &:after { }
  &:active { }

  // MODULE STATES
  &:hover,
  &:active {
    &:before {
    }
  }
  // MODULE CHILD ELEMENTS


  // MODIFIERS/VARIATIONS
    // THIS MODULE INSIDE A 'LAYOUT'
  .l-footer & {
    width: 20px;
    height: 20px;
    fill: $pink;
  }

}
