.logo {
  display: inline-block;
  background: #FFF;

  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  &-header {
    width: calc(100% - 77px);
    height: 100%;
    margin-left: -3px;
    text-align: center;
    line-height: 77px;
    text-transform: lowercase;
    vertical-align: top;
    position: relative;

    @include breakpoint(768px) {     //TABLET BREAKPOINT
      width: 190px;
      margin-left: 0px;
      font-weight: bold;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto 0;
        width: 1px;
        background: #666;
        height: 60%;
      }
    };
  }
}
