.nav {
  position: absolute;
  width: 200px;
  z-index: -1;
  background-color: #FFF;
  opacity: 0;
  visibility: hidden;

  transform: translate(0,-200px);
  // transition: transform .7s cubic-bezier(0.85, -0.12, 0.17, 1.13),
  //             opacity 0.6s ease-in-out;
  transition: transform .7s cubic-bezier(1, -0.26, 0.08, 1.3),
              opacity .6s ease-in-out,
              visibility .6s ease-in-out;

  text-transform: lowercase;
  opacity .6s ease-in-out;

  @include breakpoint(568px) {
    width: 217px;
  }
  // FOR LARGER SMARTPHONES, THE NAVIGATION WILL FIT THE ENTIRE SCREEN
  // AND RECEIVE A BORDER-BOTTOM
  @include breakpoint(667px) {
    width: 100%;
    border-bottom: 1px solid #666;
  }
  // TABLET BREAKPOINT
  @include breakpoint(768px) {
    display: block;
    height: 100%;
    width: calc(100% - 190px);
    margin-left: -4px;
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: top;
    opacity: 1;
    transform: translate(0,0);
    border-bottom: 0;
  }
  body.menu-is-opened &{
    opacity: 1;
    visibility: visible;
    transform: translate(0px,4px);
    z-index: -1;
    opacity: 0;
    text-transform: lowercase;
    width: 200px;
    transform: translate(0,-200px);
    transition: transform .7s cubic-bezier(0.85, -0.12, 0.17, 1.13),
              opacity 0.6s ease-in-out;
  }
  body.menu-is-opened &{
    opacity: 1;
    transform: translate(0px,1px);
  }
}
