@font-face {
  font-family: "Gentleman";
    src: url('../fonts/gentleman_on_the_rainbow-webfont.eot');
  src:
    url("../fonts/gentleman_on_the_rainbow-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/gentleman_on_the_rainbow-webfont.woff2") format("woff2"),
    url("fonts/gentleman_on_the_rainbow-webfont.woff") format("woff"),
    url("gentleman_on_the_rainbow-webfont.svg") format("svg");
}
